# In case user doesn't have autocrtl set:
* text=auto

# C/C++ Source files
# ==================
*.c text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text

# Other
# =====
*.pdf       binary
*.csv       text
